@{
    ViewBag.Title = "Start";
}

<div class="container">
    <div class="start-img">
        
    </div>
    <div class="button-zone">
        <input type="submit" class="btn btn-success" value="Zgłoś niebezpieczne miejsce!" onclick="location.href='@Url.Action("AddReport","Report")'"/>
    </div>
</div>
